[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
jupyter = "*"
matplotlib = "*"
tabulate = "*"
networkx = "*"
scipy = "*"
pyvis = "*"
pillow = "*"
cairosvg = "*"
pydantic = "*"
plotly = "*"
pydot = "*"
graphviz = "*"
chromadb = "*"
sentence_transformers = "*"
datasketch = "*"
langchain-ollama = "*"
langchain = "*"
typing = "*"
numpy = "2.2.0"
matplotlib-venn = {extras = ["shapely"], version = "*"}
kaleido = "*"

[dev-packages]

[requires]
python_version = "3.12"
